body {
    min-width: 300px;
    min-height: 200px;
    overflow: hidden;
    background-color: #fff;
}

.popup {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

#SSQ {
    top: 0;
    left: 0;
    width: 95%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
}

.donate-button {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    white-space: normal;
}

.donate-button:hover {
    background-color: #ccc;
    transform: scale(1.05);
}

#searchBox {
    width: 50%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#searchButton {
    display: block;
    flex: 0 0 20%;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#searchButton:hover {
    background-color: #ddd;
}

#Huner {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#Fen {
    width: 50px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

#Lian {
    flex-grow: 1;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.kuai {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

.row {
    display: flex;
}

.bao {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bao img {
    width: auto;
    height: 30px;
    margin-bottom: 5px;
}

.bao a {
    display: inline-block;
    width: 90%;
    padding: 5px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.bao a:hover {
    background-color: #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
}

.thumbnail {
    width: 80%;
    margin-bottom: 10px;
}
